<div class="row justify-content-between">
    <div class="col-auto">
        <a href="{{ path('homepage') }}"><img src="{{ asset('images/discuter.png') }}" alt="logo site" width="80px" /></a>
    </div>
    <div class="col-4">
        <div class="row justify-content-center">
            <div class="col-8">
                <h3>Forum test SFBB</h3>
                <img src="{{ asset('images/mini/icon_mini_house.gif') }}" alt="icon admin" />
                <a href="{{ path('homepage') }}" class="pe-1">{{ 'menu.homepage'|trans }}</a>
                {% if app.user is not null %}
                    {% if is_admin(app.user) %}
                        <img src="{{ asset('images/mini/icon_mini_gallery.gif') }}" alt="icon admin" />
                        <a href="{{ path('admin_index') }}" class="pe-1">{{ 'menu.admin'|trans }}</a>
                    {% endif %}
                    <img src="{{ asset('images/mini/icon_mini_profile.gif') }}" alt="icon profile" />
                    <a href="{{ path('user_edit_profile') }}" class="pe-1">{{ 'menu.profile'|trans }}</a>
                    <br />
                    <img src="{{ asset('images/mini/icon_mini_members.gif') }}" alt="icon members-list" />
                    <a href="{{ path('user_members_list') }}" class="pe-1">{{ 'menu.members_list'|trans }}</a>
                    <img src="{{ asset('images/mini/icon_mini_login.gif') }}" alt="icon logout" />
                    <a href="{{ path('user_logout') }}" class="pe-1">{{ 'menu.logout'|trans }}</a>
                {% else %}
                    <img src="{{ asset('images/mini/icon_mini_login.gif') }}" alt="icon logout" />
                    <a href="{{ path('user_login') }}" class="pe-1">{{ 'menu.login'|trans }}</a>
                    <img src="{{ asset('images/mini/icon_mini_register.gif') }}" alt="icon register" />
                    <a href="{{ path('user_register') }}" class="pe-1">{{ 'menu.register'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>