<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">{{ 'admin.label.sidebar'|trans }}</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="{{ path('admin_index') }}" class="nav-link align-middle px-0">
                <i class="fa-solid fa-toolbox"></i>
                <span class="ms-1 d-none d-sm-inline">{{ "admin.label.global_config"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="#menuForum" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-list"></i>
                <span class="ms-1 d-none d-sm-inline">{{ "admin.label.forum_config"|trans }}</span>
            </a>
            <ul class="collapse show nav flex-column ms-1" id="menuForum" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="{{ path('admin_category_index') }}" class="nav-link px-0">
                        <span class="d-none d-sm-inline">{{ "admin.label.category"|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_forum_index') }}" class="nav-link px-0">
                        <span class="d-none d-sm-inline">{{ "admin.label.forum"|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_moderator_index') }}" class="nav-link px-0">
                        <span class="d-none d-sm-inline">{{ "admin.label.moderator"|trans }}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#menuUser" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                <i class="fa-solid fa-user"></i> <span class="ms-1 d-none d-sm-inline">
                    {{ "admin.label.user_config"|trans }}
                </span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="menuUser" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="{{ path('admin_user_index') }}" class="nav-link px-0">
                        <span class="d-none d-sm-inline">{{ "admin.label.user"|trans }}</span>
                    </a>
                </li>
                <li class="w-100">
                    <a href="{{ path('admin_access_index') }}" class="nav-link px-0">
                        <span class="d-none d-sm-inline">{{ "admin.label.access"|trans }}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('homepage') }}" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-home"></i>
                <span class="ms-1 d-none d-sm-inline">{{ 'admin.label.return_homepage'|trans }}</span>
            </a>
        </li>
    </ul>
</div>