<table class="table forum-table">
    <thead class="text-center forum-table-title">
    <tr>
        <th scope="col" width="80%" colspan="2">{{ 'homepage.table.title.forum'|trans }}</th>
        <th scope="col">{{ 'homepage.table.title.topics'|trans }}</th>
        <th scope="col">{{ 'homepage.table.title.posts'|trans }}</th>
        <th scope="col">{{ 'homepage.table.title.last_post'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td class="homepage-category" colspan="2">
                <span class="homepage-category-title">{{ category.title }}</span>
            </td>
            <td colspan="3" class="homepage-category"></td>
        </tr>
        {% for forum in category.forums %}
            <tr>
                <td width="2%" class="forum-table-row-title text-center align-middle">
                    <img src="{{ asset('images/folder_big.gif') }}" alt="no new post icon" />
                </td>
                <td class="forum-table-row-title">
                    <span class="homepage-forum-title">
                        <a href="{{ path('forum_show', {'forum': forum.id}) }}">
                            {{ forum.title }}
                        </a>
                    </span><br />
                    <span class="small">{{ forum.subTitle }}</span>
                </td>
                <td class="forum-table-row-messages">
                    {{ forum.getNbTopics }}
                </td>
                <td class="forum-table-row-messages">
                    {{ forum.getNbMessages }}
                </td>
                <td class="forum-table-row-messages">
                    {{ 'forum.label.no_post'|trans }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'forum.none_found'|trans }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">{{ 'category.none_found'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>