<table class="table forum-table">
    <thead>
    <tr>
        <th scope="col" colspan="3" class="homepage-category">
            <span class="homepage-category-title">{{ 'homepage.table.title.online'|trans }}</span>
        </th>
    </tr>
    </thead>
    <tbody class="forum-table-online">
    <tr>
        <td rowspan="2" width="2%" class="text-center align-middle">
            <img src="{{ asset('images/whosonline.gif') }}" alt="who is online icon" />
        </td>
        <td>
            {{ 'homepage.label.who_is_online.nb_topics_posted'|trans({'%nbTopics%': who_is_online_vm.nbTopics})|raw }}<br />
            {{ 'homepage.label.who_is_online.nb_registered_users'|trans({'%nbUsers%': who_is_online_vm.nbRegisteredUsers})|raw }}<br />
            {{ 'homepage.label.who_is_online.last_registered_user'|trans() }}
            {% include 'shared/component/_user_link.html.twig' with {
                'user': who_is_online_vm.lastRegisteredUser
            } only %}
        </td>
    </tr>
    <tr>
        <td>
            {% for role in who_is_online_vm.roles %}
                <span class="fw-bold {{ role.getClassColor }}">[ {{ role.getTransKey|trans }} ]</span>
            {% endfor %}
            <br />
            {{ 'user.label.online'|trans }}
            {% for user in who_is_online_vm.usersOnline %}
                {% include 'shared/component/_user_link.html.twig' with {
                    'user': user
                } only %}
                {% if loop.last == false %}
                ,
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>