{{ form_start(form) }}
    {{ form_row(form.title) }}
    <div class="row">
        <div class="col-12">
            {{ form_widget(form.submit) }}
            <a href="{{ path('admin_category_index') }}" class="btn btn-info">{{ 'global.label.return'|trans }}</a>
        </div>
    </div>
{{ form_end(form) }}