<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ 'project.name'|trans }} -
                {% block sub_title %}
                {% endblock %}
            {% endblock %}
        </title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/babdevpagerfanta/css/pagerfanta.css') }}">
            {% block additionnal_stylesheets %}
            {% endblock %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-black bg-opacity-25 py-3">
        <div class="row justify-content-center">
            <div class="col-10 border border-dark border-opacity-75 bg-white">
                {% block body %}
                    <div class="header my-3">
                        {% block header %}
                            {{ render(controller('App\\Controller\\MenuController::renderMenu')) }}
                        {% endblock %}
                    </div>
                    <div class="body-alert">
                        {% block alert %}
                            {% include 'shared/layout/_alert.html.twig' %}
                        {% endblock %}
                    </div>
                    <div class="content">
                        {% block breadcrumb %}
                            {% include 'shared/layout/_content_header.html.twig' %}
                        {% endblock %}
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="footer my-3">
                        {% block footer %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
        {% block additionnal_javascripts_bottom %}
        {% endblock %}
    </body>
</html>
