{{ form_start(form) }}
<table class="table forum-table my-1">
    <thead class="text-center forum-table-title">
    <tr>
        <th scope="col" colspan="2">
            {{ 'post.label.new_post'|trans }}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="forum-table-row-title">
            {{ 'post.label.author'|trans }}
        </td>
        <td class="forum-table-row-title">
            {{ author.username }}
        </td>
    </tr>
    <tr>
        <td class="forum-table-row-title">
            {{ 'post.label.topic'|trans }}
        </td>
        <td class="forum-table-row-title">
            {{ topic.title }}
        </td>
    </tr>
    <tr>
        <td class="forum-table-row-title">
            {{ form_label(form.content) }}
        </td>
        <td class="forum-table-row-title">
            {{ form_widget(form.content) }}
        </td>
    </tr>
    <tr>
        <td class="forum-table-row-title text-center" colspan="2">
            {{ form_widget(form.submit) }}
        </td>
    </tr>
    </tbody>
</table>
{{ form_end(form) }}