<div class="row message-info-block">
    <div class="col-12">
        <span class="message-info-title">
           <img src="{{ asset('images/icon_minipost.gif') }}" alt="icon mini post" />
            {{ 'topic.label.subject'|trans({'%title%': title}) }}
        </span>
        <span class="message-info-date">
            » {{ message.createdAt|format_datetime('full', locale='fr') }}
        </span>
        <span class="float-end message-info-edit-link">
            {% if can_edit_post(app.user, message) %}
                <a href="{{ edit_link }}">
                    <img src="{{ asset('images/lang_english/icon_edit.gif') }}" alt="icon edit" />
                </a>
            {% endif %}
        </span>
    </div>
</div>
