<div class="row mb-5 message-user-block">
    <div class="col-12 message-user-username">
        {% include 'shared/component/_user_link.html.twig' with {
            'user': author
        } only %}
        <br />
        {{ author.getRoleTitle|trans }}
    </div>
</div>
<div class="row">
    <div class="col-12 message-user-data">
        {% set nbMessages = author.topics|length %}
        {{ 'topic.label.message'|trans({}, null, null, nbMessages) }} :
        {{ nbMessages }}<br />
        {{ 'topic.label.register_date'|trans }}:
        {{ author.createdAt|date('d/m/Y') }}
    </div>
</div>