{{ form_start(form) }}
<table class="table forum-table">
    <thead class="text-center forum-table-title">
    <tr>
        <th scope="col" colspan="2">
            {% if forum is defined %}
                {{ 'forum.title.edit'|trans({'%title%': forum.title}) }}
            {% else %}
                {{ 'forum.title.new'|trans }}
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="forum-table-row-title text-center">
        <th scope="row">
            {{ form_label(form.category) }}
        </th>
        <td>
            {{ form_widget(form.category) }}
        </td>
    </tr>
    <tr class="forum-table-row-title text-center">
        <th scope="row">
            {{ form_label(form.title) }}
        </th>
        <td>
            {{ form_widget(form.title) }}
        </td>
    </tr>
    <tr class="forum-table-row-title text-center">
        <th scope="row">
            {{ form_label(form.subTitle) }}
        </th>
        <td>
            {{ form_widget(form.subTitle) }}
        </td>
    </tr>
    <tr class="forum-table-row-title text-center">
        <td colspan="2">
            {{ form_widget(form.submit) }}
        </td>
    </tr>
    </tbody>
</table>
<div class="row justify-content-end">
    <div class="col-auto">
        <a href="{{ path('admin_forum_index') }}">
            <img src="{{ asset('images/return_btn.png') }}" alt="return">
        </a>
    </div>
</div>
{{ form_end(form) }}