{% extends 'base_admin.html.twig' %}

{% block sub_title %}
    {{ 'forum.title.index'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% for category in categories %}
            <table class="table forum-table">
                <thead class="text-center forum-table-title">
                    <tr>
                        <th scope="col" colspan="6">
                            {{ 'category.title.forum'|trans({'%title%': category.title}) }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr class="forum-table-row-title text-center bg-black bg-opacity-25">
                    <th scope="col">#</th>
                    <th scope="col">{{ 'forum.label.title'|trans }}</th>
                    <th scope="col">{{ 'forum.label.orderNumber'|trans }}</th>
                    <th scope="col">{{ 'global.label.edit'|trans }}</th>
                    <th scope="col">{{ 'forum.label.change_order'|trans }}</th>
                    <th scope="col">{{ 'global.label.delete'|trans }}</th>
                </tr>
                    {% for forum in category.forums %}
                        <tr class="forum-table-row-title text-center">
                            <th scope="row">{{ forum.id }}</th>
                            <td>
                                {{ forum.title }}<br />
                                <span class="small">{{ forum.subTitle }}</span>
                            </td>
                            <td>{{ forum.orderNumber }}</td>
                            <td>
                                <a href="{{ path('admin_forum_edit', {'forum': forum.id}) }}">
                                    <img src="{{ asset('images/edit_btn.png') }}" alt="edit" />
                                </a>
                            </td>
                            <td>
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        {% if loop.first == false %}
                                            <a href="{{ path('admin_forum_change_order', {'forum': forum.id, 'direction': 'up'}) }}">
                                                <img src="{{ asset('images/up_btn.png') }}" alt="up">
                                            </a>
                                        {% endif %}
                                        {% if loop.last == false %}
                                            <a href="{{ path('admin_forum_change_order', {'forum': forum.id, 'direction': 'down'}) }}">
                                                <img src="{{ asset('images/down_btn.png') }}" alt="down">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% include 'shared/modal/delete_button.html.twig' with {
                                    'route': path('admin_forum_delete', {'forum': forum.id}),
                                    'title': 'forum.title.delete_modal'|trans({'%title%': forum.title}),
                                    'csrf_key': 'delete-forum'
                                } only %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{{ "forum.none_found"|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row justify-content-end mb-2">
                <div class="col-auto">
                    <a href="{{ path('admin_forum_new', {'category': category.id}) }}">
                        <img src="{{ asset('images/new_btn.png') }}" alt="edit-config" />
                    </a>
                </div>
            </div>
        {% else %}
            {{ 'category.none_found'|trans }}
        {% endfor %}
    </div>
</div>
{% endblock %}