{% extends 'base.html.twig' %}

{% block sub_title %}
    {{ 'user.login.title'|trans }}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-3">
            <h3>{{ 'user.login.title'|trans }}</h3>
            {{ form_start(form) }}
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="form-control d-flex flex-column align-items-center pt-3">
                        {{ form_row(form.username) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.rememberMe) }}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}