{% extends 'base.html.twig' %}

{% block sub_title %}
    {{ 'user.member_list.title'|trans }}
{% endblock %}

{% block content %}
    <table class="table forum-table my-1">
        <thead>
        <tr class="forum-table-title">
            <th scope="col">
                Rechercher un membre
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="forum-table-row-title text-center">
                {{ form_start(form) }}
                <div class="row justify-content-around">
                    <div class="col-auto">
                        {{ form_row(form.username, {'attr': {'class': 'mx-2'}}) }}
                    </div>
                    <div class="col-auto">
                        {{ form_row(form.name, {'attr': {'class': 'mx-2'}}) }}
                    </div>
                    <div class="col-auto">
                        {{ form_row(form.city, {'attr': {'class': 'mx-2'}}) }}
                    </div>
                    <div class="col-auto">
                        {{ form_row(form.role, {'attr': {'class': 'mx-2'}}) }}
                    </div>
                    <div class="col-auto">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row justify-content-end">
        <div class="col-auto">
            {{ pagerfanta(members) }}
        </div>
    </div>
    <table class="table forum-table my-1">
        <thead>
            <tr class="text-center forum-table-title">
                <th scope="col">
                    {{ 'user.label.id'|trans }}
                </th>
                <th scope="col">
                    {{ 'user.label.username'|trans }}
                </th>
                <th scope="col">
                    {{ 'user.label.last_name'|trans }}
                </th>
                <th scope="col">
                    {{ 'user.label.city'|trans }}
                </th>
                <th scope="col">
                    {{ 'user.label.registration_date'|trans }}
                </th>
                <th scope="col">
                    {{ 'user.label.last_visit'|trans }}
                </th>
                <th scope="col">
                    {{ 'user.label.nb_messages'|trans }}
                </th>
                <th scope="col">
                    {{ 'user.label.private_message'|trans }}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr class="forum-table-row-title text-center">
                <td>
                    {{ member.id }}
                </td>
                <td>
                    {% include 'shared/component/_user_link.html.twig' with {
                        'user': member
                    } only %}
                </td>
                <td>
                    {{ member.fullName }}
                </td>
                <td>
                    {{ member.city }}
                </td>
                <td>
                    {{ member.createdAt|format_datetime('full', locale='fr') }}
                </td>
                <td>
                    {{ member.lastConnexion|format_datetime('full', locale='fr') }}
                </td>
                <td>
                    {{ member.getTotalPosts }}
                </td>
                <td>
                    <img src="{{ asset('images/lang_english/icon_pm.gif') }}" alt="icon pm">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-end">
        <div class="col-auto">
            {{ pagerfanta(members) }}
        </div>
    </div>
{% endblock %}