{% extends 'base.html.twig' %}

{% block sub_title %}
    {{ 'user.register.title'|trans }}
{% endblock %}

{% block content %}
    <div class="row ms-3">
        <div class="col-4">
            <h2>{{ 'user.register.title'|trans }}</h2>
            {{ form_start(form) }}
            <div class="row border rounded border-opacity-50 p-2">
                <div class="col-12">
                    <div class="mb-3 row">
                        {{ form_label(form.username, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.email, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.password.first, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.password.second, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.firstName, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.lastName, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.birthDate, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.birthDate, {'attr': {'class': 'mt-2'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.city, null, {'label_attr': {'class': 'col-4 col-form-label'}}) }}
                        <div class="col-8">
                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        {{ form_widget(form.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(form.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                    </div>
                    {{ form_row(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}