{% extends 'base.html.twig' %}

{% block sub_title %}
    {{ 'user.register.title'|trans }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <table class="table forum-table my-1">
        <tbody>
            <tr class="text-center forum-table-title">
                <th scope="col" colspan="2">
                    {{ 'user.label.table.user_info'|trans }}
                </th>
            </tr>
            <tr>
                <td class="forum-table-row-title w-25">
                    {{ form_label(form.username) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.username, {'attr': {'class': 'w-25'}}) }}
                </td>
            </tr>
            <tr>
                <td class="forum-table-row-title">
                    {{ form_label(form.email) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.email, {'attr': {'class': 'w-25'}}) }}
                </td>
            </tr>
            <tr>
                <td class="forum-table-row-title">
                    {{ form_label(form.password.first) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.password.first, {'attr': {'class': 'w-25'}}) }}
                </td>
            </tr>
            <tr>
                <td class="forum-table-row-title">
                    {{ form_label(form.password.second) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.password.second, {'attr': {'class': 'w-25'}}) }}
                </td>
            </tr>
            <tr class="text-center forum-table-title">
                <th scope="col" colspan="2">
                    {{ 'user.label.table.profile_info'|trans }}
                </th>
            </tr>
            <tr>
                <td class="forum-table-row-title">
                    {{ form_label(form.firstName) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.firstName, {'attr': {'class': 'w-25'}}) }}
                </td>
            </tr>
            <tr>
                <td class="forum-table-row-title">
                    {{ form_label(form.lastName) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.lastName, {'attr': {'class': 'w-25'}}) }}
                </td>
            </tr>
            <tr>
                <td class="forum-table-row-title">
                    {{ form_label(form.birthDate) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.birthDate) }}
                </td>
            </tr>
            <tr>
                <td class="forum-table-row-title">
                    {{ form_label(form.city) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.city, {'attr': {'class': 'w-25'}}) }}
                </td>
            </tr>
            <tr>
                <td class="forum-table-row-title">
                    {{ form_label(form.agreeTerms) }}
                </td>
                <td class="forum-table-row-title">
                    {{ form_widget(form.agreeTerms) }}
                </td>
            </tr>
            <tr>
                <td class="forum-table-row-title text-center" colspan="2">
                    {{ form_widget(form.submit) }}
                </td>
            </tr>
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock %}